* {

    box-sizing: border-box;

}
:root {

    --background-main:  #FAF0CA;
    --main-color:#000000;
    --background-secondary: #0D3B66;
    --secondary-color: #F95738;
    --image-background: #860021;
}

body {

    margin: 0;
    padding: 0;
    font-family: "fantasy";
    background-color: var(--background-main);

}

header {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--main-color);
    background-color: var(--background-secondary);
    border-bottom: 4px solid black;

}

header h1 {

    margin: 1.5rem 1rem;
    font-size: 250%;

}

.navigation{ 

    margin:  1.5rem 1rem;
    padding: 1rem;
    font-size: 200%;
    word-spacing: 4rem;
    

}

a{

    text-decoration: none;
    color: var(--main-color);

}

.navigation a:hover {
    color: var(--secondary-color);
    cursor: grab;
}

.main-image img{

    display: block;
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    background-color: var(--image-background);
    border-bottom: 2px solid black;

}

.main-image h2 {

    position: relative;
    text-align: right;
    bottom: 80px;
    margin: 1rem 3rem;
    font-size: 250%;

}

#about-me {

    font-family: "Impact", "fantasy";

}

#about-me h2{

    font-family: "Impact", "fantasy";
    color: var(--secondary-color);

}

#about-me p {
    
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding: 10% 10%;
    font-size: 1.5vw;

}

.job-container {
    padding: 10% 10%;
    font-size: 1.5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 3px solid black;
}

.jobs {
    
}
#work h2{

    color: var(--secondary-color);
    font-family: "Impact", "fantasy";

}

#contact-me {

    font-family: "Impact", "fantasy";
    color: var(--secondary-color);

}

.links {
    position: relative;
    padding: 10% 10%;
    font-size: 1.5vw;
    text-decoration:underline dashed;
    word-spacing: 3rem;

}

.links a:hover {
    
    color: var(--secondary-color);
    cursor: grab;
}


.whole-page {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.page-section {

    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;

}

.page-section > h2{

    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid black;
    font-size: 3vw;
    line-height: 1.1;

}
.page-section > div {

    flex: 0 0 77%;

}
