* {

    box-sizing: border-box;

}
:root {

    --background-main:  #FAF0CA;
    --main-color:#000000;
    --background-secondary: #0D3B66;
    --secondary-color: #F95738;
    --image-background: #860021;
}

body {

    margin: 0;
    padding: 0;
    font-family: "fantasy";
    background-color: var(--background-main);

}

header {

    display: flex;
    justify-content: space-between;
    color: var(--main-color);
    background-color: var(--background-secondary);
    border-bottom: 4px solid black;

}

header h1 {

    margin: 1.5rem 1rem;
    font-size: 250%;

}

.navigation{ 

    margin:  1.5rem 1rem;
    padding: 1rem;
    font-size: 150%;

}

a{

    text-decoration: none;
    color: var(--main-color);

}

.main-image img{

    display: block;
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    background-color: var(--image-background);
    border-bottom: 2px solid black;

}

.main-image h2 {

    position: relative;
    text-align: right;
    bottom: 80px;
    margin: 1rem 3rem;
    font-size: 250%;

}

#about-me {

    font-family: "Impact", "fantasy";
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#about-me h2{

    font-size: 200%;
    font-family: "Impact", "fantasy";
    margin: 1rem 20rem;
    padding: 2rem;
    color: var(--secondary-color);
    border-right: 4px solid black;

}

#about-me p {
    
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 100%;
    margin: 2rem 3rem;
    padding: 1rem;

}

#work {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#work h2{
    margin: 1rem 20rem;
    padding: 2rem;
    border-right: 4px solid black;
    color: var(--secondary-color);
    font-family: "Impact", "fantasy";
    font-size: 200%;

}

#work a {
    position: absolute;
    margin: 2rem 3rem;
    padding: 1rem;
}

#work span {

    position: relative;
    margin: 2rem 3rem;
    padding: 1rem;
   
}

.portfolio {
    margin: 2rem 3rem;
    padding: 1rem;
}

#contact-me {

    font-size: 150%;
    font-family: "Impact", "fantasy";
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--secondary-color);

}

#contact-me h2 {
    margin: 1rem 20rem;
    padding: 2rem;
    border-right: 4px solid black;
}

.links {
    margin: 2rem 3rem;
    padding: 1rem;
    text-decoration:underline dashed;
}